<!DOCTYPE html>
<html>
<head>
  <title>ModelAssociationsAndQuery</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= yield :special_script%>
</head>
<body>
<h1>I am an ordre layout in app/views/layouts/orders.html.erb</h1>
<%= yield %>
</body>
</html>


